Lab.App/Connected Services/WCF.Security/Identificacao.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Lab.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Lab.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProfessorCredencial">
    <xs:sequence>
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Senha" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProfessorCredencial" nillable="true" type="tns:ProfessorCredencial" />
  <xs:complexType name="Identificacao">
    <xs:sequence>
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Identificacao" nillable="true" type="tns:Identificacao" />
</xs:schema>